<nav th:fragment="blog-nav">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="#">My Blog</a>

            </div>
            <div class="d-flex ms-auto align-items-center">
                <form th:action="@{/blog/add}" method="get" class="d-flex me-2">
                    <input type="hidden" name="type" th:value="${selectedType}">
                    <button type="submit" class="btn btn-primary">Add Post</button>
                </form>
                <form class="d-flex me-2" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</nav>
