<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <th:block th:replace="layout/library :: library"></th:block>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container-fluid mt-2 mb-2 p-1">
    <div th:replace="layout/blog-nav :: blog-nav"></div>
    <div class="row mt-2 mb-2 p-2">
        <div class="col-3">
            <div th:replace="layout/blog-type :: blog-type"></div>
        </div>
        <div class="col-9">
            <div th:replace="layout/blog-list :: blog-list"></div>
        </div>
    </div>
    <div class="mb-3 d-flex justify-content-end p-1">
        <div th:replace="layout/paginator :: blog-paginator"></div>
    </div>
</div>
</body>
</html>